* {
    margin: 0;
    padding: 0;
}

body {
    background: #C84949;
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
}

.titulo {
    font-size: 1em;
    text-align: left;
    margin-bottom: 1em;
    margin: 1em 0 1em 5vw;
}

.caixaCronometro {
    background: rgba(255, 255, 255, 0.6);
    width: 90vw;
    padding: 2em 0;
    margin: 0 5vw;
    border-radius: 6px;
}

.comecar {
    background: #FFFFFF;
    border: none;
    border-bottom: 3px solid #EBEBEB;
    border-radius: 6px;
    padding: 1em 2em;
    text-transform: uppercase;
    color: #C84949;
    cursor: pointer;
}

.cronometro {
    font-size: 5em;
    margin: 0 0 1rem;
    font-weight: 300;
}

.marcadorDePomodoros {
    margin: 1em;
}

.marcadorDePomodoros::before {
    content: "#";
}